attrs==22.1.0
iniconfig==1.1.1
marshmallow==3.17.0
marshmallow-dataclass==8.5.8
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
tomli==2.0.1
typing-inspect==0.7.1
typing_extensions==4.3.0
